body {
    background-color: #000;
    color: #fff;
}
.screen-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 100%; 
    height: 100px; 
    background-color: #fff;
}
ul {
    list-style: none;
    padding: 0;
}
ul.two-column li {
    float: left;
    width: 40%;
    
    margin-bottom: 10px;
    border-radius: 4px;
}
ul.two-column li:nth-of-type(odd) {
    margin-right: 9%;
}

ul.four-column li {
    float: left;
    width: 20%;
    margin-right: 4%;
    margin-bottom: 10px;
    border-radius: 4px;
}
ul.ticket-list li span {
    background-color: rgba(160, 160, 160, 0.856);
    display: block;
    border-radius: 4px;
    height: 30px;
    width: 100%;
}
ul.ticket-list li span:not(.filled):hover {
    cursor: pointer;
    transform: scale(1.2);
}
ul.ticket-list li span.selected {
    background-color: yellow;
}
ul.ticket-list li span.filled {
    background-color: white;
}

#ticket-info span {
    margin-right: 5px;
}
#ticket-info .ticket-select {
    background-color: yellow;
    display: inline-block;
    border-radius: 4px;
    height: 30px;
    width: 30px;
}
#ticket-info .ticket-empty {
    background-color: rgba(160, 160, 160, 0.856);
    display: inline-block;
    border-radius: 4px;
    height: 30px;
    width: 30px;
}
#ticket-info .ticket-filled {
    background-color: white;
    display: inline-block;
    border-radius: 4px;
    height: 30px;
    width: 30px;
}

#js-total-ticket, 
#js-total-price {
    color: yellow;
}